<head>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div class="mealFormWrapper">
    <form id="mealForm" action="/newMeal" method="POST">
        <div class="mealNameWrapper"><input type="text" id="mealName" name="mealName" prompt="New meal" required></div>

        {% for (let ing of ingredients) { %}
          <div class="ingredient">
            <div class="ingredient_name">
              ingredient.item.name
            </div>
            <div class="ingredient_calories">
              ingredient.getCals()
            </div>
          </div>
          <input value="{%=ingredient.item.serves%}">
        {% } %}
        <dropdown>
          
        </dropdown>
        
        <input class="log_but" type="submit" value="Log Meal"></input>
      </form>
  </div>
  <script>

  </script>
</body>
