<body>
  <div>
    <form id="mealForm" action="/newMeal" method="POST">
        <label for="mealName">Meal Name:</label>
        <input type="text" id="mealName" name="mealName" required><br><br>
        
        <label for="calories">Calories:</label>
        <input type="number" id="calories" name="calories" required><br><br>
        
        <label for="ingredients">Ingredients:</label><br>
        <textarea id="ingredients" name="ingredients" rows="4" cols="50" required></textarea><br><br>
        
        <button type="submit">Log Meal</button>
      </form>
  </div>
</body>
